<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline"></script>

</head>
<body class="bg-dark">

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="text-white">DashBoard - {{ page_label }}</h1>
                <a href="{% url 'home' days_range=7 currencies=currencies %}" class="btn {% if page_label == 'Week' %}btn-info {% else %}btn-secondary{% endif %}">Week</a>
                <a href="{% url 'home' days_range=30 currencies=currencies %}" class="btn {% if page_label == 'Month' %}btn-info {% else %}btn-secondary{% endif %}">Month</a>
                <a href="{% url 'home' days_range=365 currencies=currencies %}" class="btn {% if page_label == 'Year' %}btn-info {% else %}btn-secondary{% endif %}">Year</a>

            </div>
        </div>
        <div class="row justify-content-center">
            {% for currency, rates in data.items %}
            <div class="col-md-10 col-lg-6 ">
                <canvas id="chart-{{ currency }}"></canvas>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        {% for currency, rates in data.items %}
            var ctx = document.getElementById("chart-{{ currency }}");
            new Chart(ctx, {
                    type: 'line',
                    data: {labels: {{ days_labels|safe }},
                           datasets: [{
                                label: "{{ currency }}",
                                data: {{ rates|safe }},
                                fill: false,
                                borderColor: 'rgb(255, 128, 128)',
                                trendlineLinear: {
                                    style: "#9fd6f4",
                                    width: 3
                                }
                           }]
                    }
            });
        {% endfor %}

    </script>

</body>
</html>